<div class="row">
  <div class="span12">
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
</div>
 
