<div class="hero-unit"><!-- Header -->
  <h1 class="demo-logo">Find a Mentor<small>Get help on projects & learn to code in byte-sized steps!</small></h1>
  <br>
<a href="#mentee_request" class="btn btn-large btn-success span2 offset8">Sign Me Up! »</a>
</div><!-- Header -->

<div class="row"><!-- Explanatory text ROW -->
  <div class="span12">
    <h1>How it works ..</h1>
      <p class="lead">Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi. Try-hard occaecat pug, helvetica cliche polaroid tote bag. Officia pour-over salvia, organic lo-fi mlkshk ut tofu. 8-bit incididunt placeat wayfarers mixtape, literally four loko in forage tousled gluten-free nulla. <strong><a href=" ">Mentor Session Guidelines & Cheatsheet</a></strong><br><a href="/prep" class="btn btn-mini btn-info pull-right">Help Me Find A Project »</a></p> 
        <div>
    </div>
  </div>
</div><!-- Explanatory text ROW -->
<hr id-"mentee_request">

<div class="row"><!--Header Row for Mentor Request Form -->
  <div>
    <h1>Mentor Request Form</h1>
    <p class="lead"><em>Please complete the form below with information about what you are working on. <br>The more info you provide, the easier it will be for mentors to be able to can find you.</em></p>
    <br>
  </div>
</div><!-- Header Row for Mentor Request Form -->
<%= render 'sign_up_form' %>
