<div class="hero-unit">
  <h1 class="demo-logo">Find a Mentor
    <small>
      Get help on projects & learn to code in byte-sized steps!
    </small>
  </h1>
  <a href="#mentee_request" class="btn btn-large btn-success span2 offset8">
    Sign Me Up! »</a>
</div>

<div class="row">
  <div class="span12">
    <h1>How it works ...</h1>
    <p class="lead">
      Hey Coders! This program is designed to help you level up, get
      unstuck, and keep moving forward in your mission to become a coding
      ninja. Read through the
      <strong><a href="https://docs.google.com/document/d/1XqnUdYL-BXK_djNxe3IiF2Im_OfVkxAkaoOQYGr-8Bc/edit?usp=sharing">Mentor Program Process</a></strong>
      to see how the program works.
    </p> 
    <h2>Finding the Right Match</h2>
    <p class="lead">Take a some time to think through what you want to get
      help on before completing the mentor request form. The more thought
      you put into this, the more helpful your mentor can be. You can use
      the
      <strong>
        <a href="https://docs.google.com/document/d/1-MLCBN6_dhzibhfhE5XI_OETqEmi_MJ9BY27X8MuhDI/edit?usp=sharing">Project Planning Guide</a>
      </strong>
      to shape and focus an idea of you have or you can use the suggested
      projects on the 
      <strong><a href="http://mentor-program.hatsnpants.com/prep">
        Projects & Session Prep</a></strong> page.
    </p>  
    <p class="lead">Once you have a project underway and you are clear
      about what you want a mentor to help you with, fill out the mentor
      request form below. When you hit the submit button, your info will go
      into the database and appear on the mentor page. When a mentor signs
      up to work with you, you will receive an email with instructions.
      After you have completed the three sessions, you can submit a new
      request, or take a break and come back later.
    </p> 
    <p>Keep in mind that you can choose to work with a mentor for longer
      than three session but that is beyond the scope of this program and
      your are on your own at that point.
    </p><br> 
    <h2>When Life Happens ...</h2>
    <p class="lead">If you find that your project changes or you need to
      update your info, just resubmit your mentor request. We will delete
      your old posting asap.
    </p> 
    <p>Our goal is to keep a steady rotation of matches between mentors and
      mentees going. It may take a bit to get things moving and your
      patience it much appreciated! If you find your request goes
      unanswered for a time, it may be helpful to refresh your request. You
      can also email <a href="mailto:#">mentors@hatsnpants.com</a> if you
      have problems or questions.
    </p>    
    <a href="/prep" class="btn btn-mini btn-info pull-right">Help Me Find A Project »</a> 
  </div>
</div>
<hr id="mentee_request">
<div class="row">
  <div>
    <h2>Prepare for Your Mentoring Sessions:</h2>
    <p class="lead">Please be sure to thoroughly read through the <strong>
        <a href="https://docs.google.com/document/d/1AgAqj82sUnD3QzRwLmNBNLPuHqz0jzjWY8Mls9o98Gw/edit?usp=sharing">Mentor Program Guidelines & Code of Conduct</a>
      </strong> before you begin a round of sessions. Check out the <strong>
      <a href="http://mentor-program.hatsnpants.com/prep">session outlines & project ideas</a> </strong> 
      to give you guidance about how to prepare for a mentoring session so
      you can get the most out of each meeting.
    </p>
    <hr>
    <br>
  </div>
  <div>
    <a id="form_anchor"></a>
    <h1>Mentor Request Form</h1>
    <p class="lead"><em>Please complete the form below with information about what you are working on. <br>The more info you provide, the easier it will be for mentors to be able to can find you.</em></p>
    <br>
  </div>
</div>
<%= render 'sign_up_form' %>
