<% days = %w{Monday Tuesday Wednesday Thursday Friday Saturday Sunday} %>
<% times = ["Morning", "Afternoon", "Evening"] %>
<div class="row">
  <div class="span12">
    <h5>Search by:</h5>
    <%= select_tag 'herolist',
      options_from_collection_for_select(@locations, 'id', 'name'),
      prompt: "Location", name: 'herolist', style: 'display: none;',
      id: 'location_filter', class: 'filter' %>
    <%= select_tag 'herolist',
      options_for_select(days),
      prompt: "Day", name: 'herolist', style: 'display: none;',
      id: 'day_filter', class: 'filter' %>
    <%= select_tag 'herolist',
      options_for_select(times),
      prompt: "Time", name: 'herolist', style: 'display: none;',
      id: 'time_filter', class: 'filter' %>
  </div>
</div>
