<div class="hero-unit">
  <h1 class="demo-logo">
    Find a Pairing Partner<small>Grow as a programmer by working with others
    </small>
  </h1>
  <br>
  <a href="#pairing_search"><div class="btn btn-large btn-success pull-right">Find A Partner! »</div></a>
</div>

<div class="row">
  <div class="span12">
    <h1>How it works ..</h1>
      <p class="lead">Input description here!</p> 
    <h4>Availability by Location, Day, & Time:</h4>
    <p class="lead">Find someone who is availible when you are</p>  
    <h4>Description:</h4>
    <p class="lead">Look at what people are interested in doing or make your
      own pairing request
    </p>  
    <h4>Sign Up:</h4>
    <p class="lead">
      Once you find someone to pair with, just click the button to sign up.
      Do not see anyone who matches your interest or have your own idea
      you would like to pair with some on?
      <%= link_to "Create a new request", :new_pair_ask %>
    </p>
    <hr>
  </div>
</div>
<div class="row" id="pairing_search">
  <div class="span12">
    <h1>Find Your Partner</h1>
    <p class="lead">
      Select from the menues below to find people seeking partners.
    </p>
  </div>
</div>

<%= render 'filter' %>
<small>
<div class="row">
  <div class="span12" id="pairs_table">
   <%= render 'pair_asks' %>
  </div>
</div>
</small>
