<div class="hero-unit">
  <h1 class="demo-logo">Find a Pairing Partner
    <small>
      Improve your skills through collaboration
    </small>
  </h1>
  <a href="#pair_ask" class="btn btn-large btn-success span2 offset8">
    Sign Me Up! »</a>
</div>

<div class="row">
  <div class="span12">
    <h1>How it works ...</h1>
    <p class="lead">
      Did not find anyone requesting to pair for what you are doing or maybe
      you have your own project you would like to pair up on? Just fill out
      the form below to add yourself to the list of people looking to pair.
    </p> 
  </div>
</div>
    <hr id="pair_ask">
<div class="row">
  <div>
    <a id="form_anchor"></a>
    <h1>Pairing Request Form</h1>
    <p class="lead"><em>Please complete the form below with information about
        what you would like to pair about. <br>The more info you provide,
        the easier it will be for potential pairs to find you.</em></p>
    <br>
  </div>
</div>
<%= render 'sign_up_form' %>
