<p>
  We would like to introduce you to your new mentee. Their name is
  <%= @mentee.name %> and you can contact them at <%= @mentee.email %>.
</p>
<p>
  Please take a moment to read over the Process Guidelines and Code of Conduct
  before beginning your sessions. We ask that you abide by these guidelines for
  the good of everyone involved.
</p>
<p>
  You can find the full document here:
  https://docs.google.com/document/d/1AgAqj82sUnD3QzRwLmNBNLPuHqz0jzjWY8Mls9o98Gw/edit?usp=sharing
</p>
<p>
  We recommend you schedule your three sessions right away. You will both
  receive an email with a google eval form in about a month asking for feedback
  about how things are going.   
</p>
<p>
  Please feel free to email Erica at mentors@hatsnpants.com if you have any
  questions or concerns at any time.
</p>
<p>Have fun!</p>
