<div class="row">
  <div class="span4">
    <p class="lead"><em><strong>Placeholder Captcha Here</strong></em></p>
    <%= link_to image_tag "placekitten.jpg", alt: "Captcha",
      class: "img-thumbnail" %>
  </div>
</div>
