<div class="row">
  <div class="span12">
    <h3>Disclaimer:</h3>
    <label class="checkbox" for="disclaimer">
      <span class="icons">
        <span class="first-icon fui-checkbox-unchecked"></span>
        <span class="second-icon fui-checkbox-checked"></span>
      </span>
      <%= form.check_box "disclaimer" %> I agree that the site's
      creators are not responsible and provide no warranty for the use of this
      site. I understand that I alone am responsible for my use and actions
      concerning the mentor program.
    </label>
  </div>
</div>
