<small>
<div class="row">
  <div class="span12">
    <table class="table table-striped mentees">
      <tr>
        <th>Name</th>
        <th>Project Category</th>
        <th>Project Description</th>
        <th>Availability</th>
        <th>Sign Up To Mentor</th>
      </tr>
      <%= render 'ask' %>
    </table>
  </div>
</div>
</small>
