<div class="row">
  <div class="span12">
    <h5>Search by:</h5>
    <select name="herolist" style="display: none;">
      <option value="0">Location</option>
      <option value="1">Inner SE</option>
      <option value="2">Inner NE</option>
      <option value="3">Downtown</option>
      <option value="4">NW & Pearl</option>
      <option value="5">SW</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Day</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Time</option>
      <option value="1">Before 9am</option>
      <option value="2">Any morning time</option>
      <option value="3">Noon</option>
      <option value="4">After 5pm</option>
      <option value="5">Any afternoon time</option>
      <option value="6">Anytime</option>
      <option value="7">Later evenings</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Project Type</option>
      <option value="1">Beginner Ruby</option>
      <option value="2">JavaScript</option>
      <option value="3">?</option>
      <option value="4">?</option>
      <option value="5">?</option>
      <option value="6">?</option>
      <option value="7">?</option>
    </select>
  </div>
</div>
