<div class="hero-unit">
  <h1 class="demo-logo">
    Become a Mentor<small>Give back to the community by mentoring new coders on byte-sized projects.</small>
  </h1>
  <br>
  <a href="#mentee_search"><div class="btn btn-large btn-success pull-right">Find A Mentee! »</div></a>
</div>

<div class="row">
  <div class="span12">
    <h1>How it works ..</h1>
      <p class="lead">Hey Mentors! This program is designed to take your
        busy life with all its schedule changes & shifting interests and
        priorities into account. You can share your time, talents, & skills
        in truly meaningful & productive ways in just three one-hour
        mentoring sessions. Read through the
        <strong><a href="https://docs.google.com/document/d/1XqnUdYL-BXK_djNxe3IiF2Im_OfVkxAkaoOQYGr-8Bc/edit?usp=sharing">Mentor Program Process</a></strong>
        to see how the program works.
      </p> 
    <h2>Finding the Right Match</h2>
    <p class="lead">Take a look at the list below with all the wonderful
      people seeking a great mentor like you! There are a few ways to sort
      the list to find the right mentee.
    </p> 
    <h4>Availability by Location, Day, & Time:</h4>
    <p class="lead">Setting up a meeting with a mentee is easy because each
      mentee has noted the locations and times they are available to meet
      - just find the listing that matches your availability!
    </p>  
    <h4>Project Category & Description:</h4>
    <p class="lead">You’ll also see project descriptions each mentee has
      submitted - sort through to find one that interests you.
    </p>  
    <h4>Sign Up:</h4>
    <p class="lead">Once you find your new mentee, just click the button to
      sign up. After you have completed the three sessions, you can sign up
      again, or take a break and come back later. 
    </p>
    <p>Keep in mind that you can choose to mentor someone for longer than
      three session but that is beyond the scope of this program and your
      are on your own at that point.
    </p><br> 
    <hr>
  </div>
</div>
<div class="row" id="mentee_search">
  <div>
    <h2>Prepare for Your Mentoring Sessions:</h2>
    <p class="lead">Please be sure to thoroughly read through the
      <strong><a href="https://docs.google.com/document/d/1AgAqj82sUnD3QzRwLmNBNLPuHqz0jzjWY8Mls9o98Gw/edit?usp=sharing">Mentor Program Guidelines & Code of Conduct</a></strong>
      before you begin a round of sessions. Check out the 
      <strong><a href="http://mentor-program.hatsnpants.com/prep">session outlines & project ideas</a></strong>
      to give you guidance about how to prepare for and conduct a mentoring
      session so you can give the very best help to your mentee and make
      sure you both get the most out of each session.
    </p>
  </div>
  <div class="span12">
    <h1>Find Your Mentee</h1>
    <p class="lead">
      Select from the menues below to find people seeking mentors.
    </p>
  </div>
</div>

<%= render 'filter' %>
<%= render 'asks_table' %>
