<div class="hero-unit">
  <h1 class="demo-logo">
    Become a Mentor<small>Give back to the community by mentoring new coders on byte-sized projects.</small>
  </h1>
  <br>
  <a href="#mentee_search"><div class="btn btn-large btn-success pull-right">Find A Mentee! »</div></a>
</div>

<div class="row">
  <div class="span12">
    <h1>How it works ..</h1>
    <p class="lead">
      Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi. Try-hard occaecat pug, helvetica cliche polaroid tote bag. Officia pour-over salvia, organic lo-fi mlkshk ut tofu. 8-bit incididunt placeat wayfarers mixtape, literally four loko in forage tousled gluten-free nulla.
      <strong>
        <a href="https://docs.google.com/document/d/126FhjdvWRoQu7CbwCIz-Yn5TlBU0cYXogB0QQhQLZWo/edit?usp=sharing">
          Mentor Session Guidelines & Cheatsheet
        </a>
      </strong>
      <br>
      <a href="/prep" class="btn btn-large btn-info pull-right">
        Session Prep Help »
      </a>
    </p>
  </div>
</div>
<hr>

<div class="row" id="mentee_search">
  <div class="span12">
    <h1>Find Your Mentee</h1>
    <p class="lead">
      Select from the menues below to find people seeking mentors.
    </p>
  </div>
</div>

<%= render 'filter' %>
<%= render 'asks_table' %>
<%= render 'answer_modal' %>
