<% days = days_of_week %>
<% times = times_to_meet %>
<div class="row">
  <div class="span12">
    <p class="lead">
      <em>Edit times available to meet.</em>
    </p>
  </div>
</div>
<div class="span12">
  <div class="row well well-small">
  <% days.each do |day| %>
    <div class="span">
    <h2><%= day %></h2>
    <% times.each_with_index do |time, i| %>
      <label class="checkbox" for="<%= day + "-" + time %>">
        <span class="icons inline">
          <span class="first-icon fui-checkbox-unchecked"></span>
          <span class="second-icon fui-checkbox-checked"></span>
        </span>
        <% meetup = @meetups.where("period = ?", time).
          where("day = ?", day).first %>
        <% checked = @ask.meetup_times.exists?(meetup) == 1 %>
          <%= form.check_box "meetup_times",
            {multiple: true, "data-toggle" => "checkbox", checked: checked},
            meetup.id, nil %>
          <%= time %>
      </label>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
<hr>
