 <table class="table table-striped mentees">
  <tr>
    <th>Name</th>
    <th>Project Category</th>
    <th>Project Description</th>
    <th>Availability</th>
    <th>Sign Up To Mentor</th>
  </tr>
  <% if @asks.empty? %>
    <tr><td>There are currently no requests that fit your parameters</td></tr>
  <% else %>
    <%= render 'mentor_ask' %>
  <% end %>
</table>
