<% @title = "Become a Mentor" %>
<div class="span12"><!-- Header -->
  <h1>Become a Mentor in just 3 easy steps:</h1>
</div><!-- Header -->
<div class="row"><!-- steps to becoming a mentor-->
  <div class="span12">
    <div class="fun-borderline">
      <ul class="unstyled">
        <li>
          <p class="lead lead-inline"><h6><span class="badge badge-attention badge-big">1 </span>Sign up to mentor someone from the list below whose project matches your interests.</h6>
        </li>
        <li>
          <p class="lead lead-inline"><h6><span class="badge badge-attention badge-big">2 </span>Schedule 3 sessions with your new mentee once you receive your confirmation email.</h6>
        </li>
        <li>
          <p class="lead lead-inline"><h6><span class="badge badge-attention badge-big">3 </span>Read through the Code of Conduct &amp; Session Outlines to prep for your session.</h6>
        </li>
      </ul>
    </div>
  </div>
</div><!-- steps to becoming a mentor-->

<div class="row">
  <div class="text-center add-space">
    <a href=" "><div class="btn btn-large btn-action">Code of Conduct</div></a>
    <a href=" "><div class="btn btn-large btn-action">Session Outlines</div></a>
  </div>
</div>
<div class="row" id="mentee_search">
  <div class="span12">
    <h1>Find Your Mentee</h1>
    <h6>Patience is a Virtue</h6>
    <p class="lead">
      <small>It may take a bit to get enough mentees participating in this project and your patience it much appreciated! You can also email us at <%= mail_to "mentors@hatsnpants.com" %> if you have problems or questions.</small>
    </p>
  </div>
</div>

<%= render 'asks/filter', type: "mentor" %>
<small>
<div class="row">
  <div class="span12" id="mentees_table">
   <%= render 'mentor_asks' %>
  </div>
</div>
</small>
