<div><!-- Header -->
  <h1 class="demo-logo">Become a Mentor</h1>
  <h2>Give back by mentoring coders in just three short sessions.</h2>
</div><!-- Header -->
<div class="row">
  <div class="span12">
    <div class="fun-borderline">
      <h3>Become a mentor in just 3 easy steps:</h3>
      <ul class="unstyled">
        <li>
          <p class="lead lead-inline"><span class="badge badge-attention badge-big">1 </span><strong>Read through the list of people seeking mentors.</strong></p>
        </li>
        <li>
          <p class="lead lead-inline"><span class="badge badge-attention badge-big">2 </span><strong>Sign up to mentor someone whose questions or project match your interests.</strong></p>
        </li>
        <li>
          <p class="lead lead-inline"><span class="badge badge-attention badge-big">3 </span><strong>Schedule 3 mentoring sessions with your new mentee once your receive your confirmation email.</strong></p>
        </li>
      </ul>
      <a href="#mentee_search"><div class="btn btn-large btn-success pull-right">Find a Mentee! »</div></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h1>How it works ..</h1>
    <p class="lead">Hey Mentors! This program is designed to take your
      busy life with all its schedule changes, shifting interests, and
      priorities into account. You can share your time, talents, and skills
      in truly meaningful and productive ways in just three one-hour
      mentoring sessions. We are here to help make it easy and rewarding to
      help others to learn how to code well. Here is how:
    </p> 
    <ol>
      <li>
        <h4>Finding the right person to mentor</h4>
        <ul>
          <li>
            The table of mentor requests below allows you to find someone
            interested in learning the skills you know and are interested in
            teaching.
          </li>
          <li>
            When you find an interesting request, you can check to
            see when and where they can meet with you. You can also filter the
            table to only show requests that fit your interests and availability
          </li>
          <li>
            Once you find the right person and sign up to be their mentor, we
            will send both of you an email to help introduce you to each other.
            You are then ready to get in touch and schedule your first meeting.
          </li>
        </ul>
      </li>
      <li>
        <h4>Preparing for your mentoring session</h4>
        <ul>
          <li>
            Please be sure to thoroughly read through the
            <strong><a href="https://docs.google.com/document/d/1AgAqj82sUnD3QzRwLmNBNLPuHqz0jzjWY8Mls9o98Gw/edit?usp=sharing">Mentor Program Guidelines & Code of Conduct</a></strong>
            for advice on how to be a good mentor.
          </li>
          <li>
            Check our <strong><a href="http://mentor-program.hatsnpants.com/prep">session outlines & project ideas</a></strong>
            to gain guidance about how to prepare for and conduct a mentoring
            session to help both of you get the most out of each session.
          </li>
        </ul>
      </li>
    </ol>
  <hr>
  </div>
</div>
<div class="row" id="mentee_search">
  <div class="span12">
    <h1>Find Your Mentee</h1>
    <p class="lead">
      Look through and filter the projects that people have requested mentoring
      help for.
    </p>
  </div>
</div>

<%= render 'asks/filter', type: "mentor" %>
<small>
<div class="row">
  <div class="span12" id="mentees_table">
   <%= render 'mentor_asks' %>
  </div>
</div>
</small>
