<% @title = "Find a Mentor" %>
<div class="span12"><!-- Header -->
  <h1>Find a Mentor in just 3 easy steps:</h1>
</div><!-- Header -->
<div class="row"><!-- steps to becoming a mentor-->
  <div class="span12">
    <div class="fun-borderline">
      <ul class="unstyled">
        <li>
          <p class="lead lead-inline"><h6><span class="badge badge-attention badge-big">1 </span>Come up with an awesome project that no mentor could resist wanting to help with.</h6>
        </li>
        <li>
          <p class="lead lead-inline"><h6><span class="badge badge-attention badge-big">2 </span>Complete the form below.</h6>
        </li>
        <li>
          <p class="lead lead-inline"><h6><span class="badge badge-attention badge-big">3 </span>Read through the Code of Conduct & Session Outlines to prep for your session.</h6>
        </li>
      </ul>
    </div>
  </div>
<div class="row">
  <div class="text-center add-space">
    <a href="https://docs.google.com/document/d/1-MLCBN6_dhzibhfhE5XI_OETqEmi_MJ9BY27X8MuhDI/edit?usp=sharing"><div class="btn btn-large btn-action">Project Planning Guide</div></a>
    <a href="/prep"><div class="btn btn-large btn-action">Project Ideas</div></a>
    <a href=" "><div class="btn btn-large btn-action">Code of Conduct</div></a>
    <a href=" "><div class="btn btn-large btn-action">Session Outlines</div></a>
  </div>
</div>
</div><!-- steps to becoming a mentor-->

<div class="row" id="mentee_request">
  <div class="span12">
    <a id="form_anchor"></a>
    <h1>Mentor Request Form</h1>
    <h6>Before you fill out this form, you should know ...</h6>
    <p class="lead">
      <small>Your name, general meeting time and location requests, and your project description are publicly visible. However, your email address is only shared with your mentor and the admin maintaining the site. No other personal data is shared anywhere else.</small>
    <h6>Patience is a Virtue</h6>
    <p class="lead">
      <small>It may take a bit to get enough mentors participating in this project and your patience it much appreciated! If you find your request goes unanswered for a time, it may be helpful to refresh your request. You can also email us at <%= mail_to "mentors@hatsnpants.com" %> if you have problems or questions.</small>
    </p> 
    <br>
  </div>
</div>
<%= render 'sign_up_form' %>
