<div class="hero-unit">
  <h1 class="demo-logo">Find a Mentor
    <small>
      Get help on projects & learn to code in byte-sized steps!
    </small>
  </h1>
  <a href="#mentee_request" class="btn btn-large btn-success span2 offset8">
    Sign Me Up! »</a>
</div>

<div class="row">
  <div class="span12">
    <h1>How it works ...</h1>
    <p class="lead">
      Hey Coders! This program is designed to help you level up, get
      unstuck, and keep moving forward in your mission to become a coding
      ninja. Here is what you need to do to get started:
    </p> 
    <ol>
      <li>
        <h4>Come up with a project:</h4>
        <ul>
          <li>
            The more you know about how you want to use a skill, the more
            productive your mentoring sessions will be. Come up with a project
            idea you want to work with your mentor on. 
          </li>
          <li>
            Check out our <strong>
            <a href="https://docs.google.com/document/d/1-MLCBN6_dhzibhfhE5XI_OETqEmi_MJ9BY27X8MuhDI/edit?usp=sharing">Project Planning Guide</a>
            </strong> to help focus and shape your idea.
          </li>
          <li>
            Need ideas? Check out some suggestions for
            <strong><%= link_to "project ideas", '/prep' %></strong> that we
            have put together.
          </li>
        </ul>
      </li>
      <li>
        <h4>Sign up:</h4>
        <ul>
          <li>
            Fill out the form below, letting potential mentors know what you are
            seeking to learn as well as the locations and times work best for
            you.
          </li>
          <li>
            Submit the form and you are all set! When someone signs up to be
            your mentor, we will send you an email to introduce you to them.
          </li>
        </ul>
      </li>
      <li>
        <h4>Meeting with your mentor:</h4>
        <ul>
          <li>
            Once you and your mentor have gotten in touch, you can schedule the
            first or all of your three roughly one hour sessions.
          </li>
          <li>
            Make sure you prepare for your sessions, so you both can gain the
            most from the experience. You can use our <strong>
            <a href="https://docs.google.com/document/d/1-MLCBN6_dhzibhfhE5XI_OETqEmi_MJ9BY27X8MuhDI/edit?usp=sharing">Project Planning Guide</a>
            </strong> to help you get ready.
          </li>
          <li>
            Once you have completed your three sessions, you can sign up again
            to find a mentor for a new project or maybe learning a new skill to
            improve your current project.
          </li>
        </ul>
      </li>
    </ol>
    <h2>When Life Happens ...</h2>
    <p class="lead">If you find that your project changes or you need to
      update your info, just resubmit your mentor request. We will delete
      your old posting asap.
    </p> 
    <p>Our goal is to keep a steady rotation of matches between mentors and
      mentees going. It may take a bit to get things moving and your
      patience it much appreciated! If you find your request goes
      unanswered for a time, it may be helpful to refresh your request. You
      can also email <a href="mailto:#">mentors@hatsnpants.com</a> if you
      have problems or questions.
    </p>    
    <a href="/prep" class="btn btn-mini btn-info pull-right">Help Me Find A Project »</a> 
  </div>
</div>
<hr id="mentee_request">
<div class="row">
  <div class="span12">
    <a id="form_anchor"></a>
    <h1>Mentor Request Form</h1>
    <p class="lead"><em>Please complete the form below with information about what you are working on. <br>The more info you provide, the easier it will be for mentors that are the right match to find you.</em></p>
    <br>
  </div>
</div>
<%= render 'sign_up_form' %>
