<div class="hero-unit">
  <h1 class="demo-logo">About
  </h1>
</div>
<div class="row">
  <div class="span12">
    <p class="lead">
      Many in Portland's tech scene have a genrous desire to help others learn
      to become great programmers. We created this program to help connect them
      with eager learners in a way that is convenient for their busy lives. To
      help make this the best experience for both sides of the mentoring
      relationship, we have created sample project ideas and guides to aid in
      easily preparing for a mentoring session.
    </p>
  </div>
</div>
