<% @title = "About" %>
<div class="span12"><!-- Header -->
  <h1>About the Mentor Program</h1>
</div><!-- Header -->

<!-- <div class="row"><!-- about the program--
  <div class="span12">
    <div class="fun-borderline">
      <div class="lead">
        <p>The history of the program</p>
      </div>  
    </div>
  </div>
</div> -->

<div class="row"><!-- Why so project focused?-->
  <div class="span12">
    <div class="fun-borderline">
      <h6>Why so project focused?</h6>
      <div class="lead">
        <p>
          It's simple logic, you get out of a learning experience what you put into it. By taking the time to think through what you want to learn and planning a project that matches your learning goals, you can can be more certain to get what you need out of your mentor sessions. Not to mention the fact that thinking through your learning goals and making a plan means having much more successful and productive mentoring sessions.
        </p>
        <p>
          Finally, it is essential for mentees to take ownership of their own learning, in part because it's not fair to expect mentors to come prepared with lesson plans and teaching strategies, but also because it's the only way to be sure you are learning exactly what you need and want. 
        </p>
        <p>
          Use the <a href="https://docs.google.com/document/d/1-MLCBN6_dhzibhfhE5XI_OETqEmi_MJ9BY27X8MuhDI/edit?usp=sharing">Project Planning Guide</a> to shape and focus your ideas or use the suggested projects on the session prep page. 
        </p>
      </div>  
    </div>
  </div>
</div>

<div class="row"><!-- Why three sessions?-->
  <div class="span12">
    <div class="fun-borderline">
      <h6>Why three sessions?</h6>
      <div class="lead">
        <p>
          There are so many generous developers out there who want to give back to the community but don't have a ton of time and/or they can’t make a long-term commitment to a mentee. 
        <p>
          There are just as many hard working aspiring coders out there hacking away at things on their own and making slow progress. Sometimes, all it takes is a kind and patient mentor great to help you get unstuck.
        </p>
        <p>
          This program is designed to take everyone's busy life with all its schedule changes  &amp; shifting interests and priorities into account. Mentors can share their time, talents,  &amp; skills in truly meaningful  &amp; productive ways in just three one-hour mentoring sessions.
        </p>
        <p>
          <strong>This doesn't mean you can't keep working with the amazingly awesome mentor or mentee you just met!</strong> It just means that you're doing your own thing, outside of this program after three meetings - which is totally rad, we just can't organize all that right now.
        </p>
        <p>
          Mentors, once you have completed your sessions, your committment is fulfilled and you can decide to sign up again if you want keep helping/learning by finding a new mentee.
        </p>
        <p>
          Mentees, once you finish your sessions, you can keep hacking on your own or just write up a new request and connect with a new mentor for the next leg of your journey.</p> 
        <p>
          Read through the <a href="https://docs.google.com/document/d/1XqnUdYL-BXK_djNxe3IiF2Im_OfVkxAkaoOQYGr-8Bc/edit?usp=sharing">Mentor Program Process</a> to see a full description of how the program works.
        </p>
      </div>  
    </div>
  </div>
</div>

<div class="row"><!-- Why so public?-->
  <div class="span12">
    <div class="fun-borderline">
      <h6>Why so public?</h6>
      <div class="lead">
        <p>
          This is more than just a chance to give back to the community or get help on your coding projects, it also a chance to network and connect with all the amazing programmers out there in the Portland tech community.
        </p>
        <p>
          The program info isn't behind any passwords or closed doors because we beleive learning happens best in open, shared spaces and through community connections. Not to mention, the Portland community is full of supportive, thoughtful individuals who just need a little help connecting with all the other great people out there! 
        </p>
      </div>  
    </div>
  </div>
</div>

<div class="row"><!-- Why so public?-->
  <div class="span12">
    <div class="fun-borderline">
      <h6>How to get involved.</h6>
      <div class="lead">
        <p>This is an open source project! <a href="https://github.com/elauervose/MentorProgram">Check out the code</a> on Github and see if you can help us out with any bugs or issues in the queue.</p>
      </div>  
    </div>
  </div>
</div>

<div class="row"><!-- About the Founders-->
  <div class="span12">
    <div class="fun-borderline">
      <h6>About the Creators</h6>
      <div class="clearfix">
        <div class="pull-left span3" style="margin-right: 10px; margin-bottom: 10px;">
          <%= image_tag "erica.jpg", alt: "exaple-image", class: "img-rounded img-responsive" %>
        </div>
        <p class="lead">Erica Lauer Vose</p>
        <p class="lead">
          As former director and co-founder of the Portland Code School, Erica is passionate about education, community, and empowering people to transform their lives through learning technology.
        </p>
      </div>
      <div class="clearfix">
        <div class="pull-left span3" style="margin-right: 10px; margin-bottom: 10px;">
          <%= image_tag "nickr.jpg", alt: "exaple-image", class: "img-rounded img-responsive" %>
        </div>
        <p class="lead">Nick Reich</p>
        <p class="lead">
          and's tech scene have a generous desire to help others learn to become great programmers. We created this program to help connect them with eager learners in a way that is convenient for their busy lives. To help make this the best experience for both sides of the mentoring relationship, we have creat
        </p>
      </div>
      <div class="clearfix">
        <div class="pull-left span3" style="margin-right: 10px; margin-bottom: 10px;">
          <%= image_tag "chuck.jpg", alt: "exaple-image", class: "img-rounded img-responsive" %>
        </div>
        <p class="lead">Chuck Lauer Vose</p>
        <p class="lead">
          and's tech scene have a generous desire to help others learn to become great programmers. We created this program to help connect them with eager learners in a way that is convenient for their busy lives. To help make this the best experience for both sides of the mentoring relationship, we have creat
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- <div class="row">
  <div class="span12">
    <p class="lead">
      Many in Portland's tech scene have a generous desire to help others learn
      to become great programmers. We created this program to help connect them
      with eager learners in a way that is convenient for their busy lives. To
      help make this the best experience for both sides of the mentoring
      relationship, we have created sample project ideas and guides to aid in
      easily preparing for a mentoring session.
    </p>
  </div>
</div> -->
