<div class="hero-unit">
  <h1 class="demo-logo">
    Mentor Program<small>Project-based, short-term mentor sessions for learning & teaching code in byte-sized peices.</small>
  </h1>
</div> <!-- /demo-headline -->
<div class="row" style="text-align: center;">
  <div class="span12">
    <a href="/mentors" class="btn btn-large btn-info span3 offset2">Become a Mentor</a>
    <a href="/mentees" class="btn btn-large btn-info span3">Find a Mentor</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    <br>
    <p class="lead">
    This program is an experiment in using short-term, project-based mentoring to learn web-oriented programming skills. Sign up to request a mentor or select someone to mentor through three, roughly one hour sessions. Our goal is to help make the proccess as easy and rewarding for both sides of the mentoring relationship. We provide sample session outlines and project ideas to provide guidance for both mentors and mentees. Choose to find or become a mentor for more information.
    </p>
   
      <br>
    <br>
    <br>
  </div>
</div>
