<div class="hero-unit">
  <h1 class="demo-logo">
    Mentor Program<small>Project-based, short-term mentor sessions for learning & teaching code in byte-sized peices.</small>
  </h1>
</div> <!-- /demo-headline -->
<div class="row" style="text-align: center;">
  <div class="span12">
    <a href="/mentors" class="btn btn-large btn-info span3 offset2">Become a Mentor</a>
    <a href="/mentees" class="btn btn-large btn-info span3">Find a Mentor</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    <br>
    <p class="lead">This mentor program is an experiment in using short-term, project-based mentoring to learn web-based programming skills. The <strong><a href="https://docs.google.com/document/d/1XqnUdYL-BXK_djNxe3IiF2Im_OfVkxAkaoOQYGr-8Bc/edit?usp=sharing">Mentor Program Process</a></strong> is designed to make each session as focused & productive as possible. You can sign up to mentor or be mentored for three sessions, after that, you can sign up again, or take a break and come back later.</p> <p class="lead">To get the most our of mentor sessions, check out the session outlines & project ideas on the Project & Session Prep page for suggestions and guidance for both mentors & mentees. Or get the at-a-glance <strong><a href="https://docs.google.com/document/d/126FhjdvWRoQu7CbwCIz-Yn5TlBU0cYXogB0QQhQLZWo/edit?usp=sharing">Mentor Program Cheatsheet</a></strong> and jump right in!</p>   
    <br>
    <br>
    <br>
  </div>
</div>