<% @title = "Home" %>
<div class="overlay-wrapper">
  <%= image_tag "mentoring.jpg", alt: "exaple-image", class: "img-rounded img-responsive" %>
  <div class="overlay">
    <h1 class="demo-logo">Mentor Program</h1>
    <h2>Learner driven. Project-focused. Three short sessions.</h2>
  </div>
  <div class="overlay2">
    <div class="text-center">
      <a href="/mentors" class="btn btn-large btn-action">Become a Mentor</a>
      <a href="/mentees" class="btn btn-large btn-action">Find a Mentor</a>
    </div>
  </div>
</div> <!-- /overlay-wrapper -->
<div class="row">
  <div class="span12">
    <div class="text-center fun-borderline">
      <h3>Get involved in just 3 easy steps:</h3>
      <ul class="inline">
        <li>
          <p class="lead lead-inline"><span class="badge badge-attention badge-big">1 </span><strong> Sign up</strong></p>
        </li>
        <li>
          <p class="lead lead-inline"><span class="badge badge-attention badge-big">2 </span><strong> Schedule 3 Sessions</strong></p>
        </li>
        <li>
          <p class="lead lead-inline"><span class="badge badge-attention badge-big">3 </span><strong> Prep for your mentoring sessions</strong></p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="bs-docs-example">
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a class="tab-lable" href="#code_conduct" data-toggle="tab">Safety & Code of Conduct</a></li>
  <li><a class="tab-lable" href="#guidelines" data-toggle="tab">Guidelines for Being a Good Mentor/Mentee</a></li>
  <li><a class="tab-lable" href="#session_outlines" data-toggle="tab">Basic Session Outline</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="code_conduct">
    <p class="lead">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
  </div>
  <div class="tab-pane fade" id="guidelines">
    <p class="lead">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
  </div>
  <div class="tab-pane fade" id="session_outlines">
    <p class="lead">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
  </div>
</div>
</div>

