<div class="hero-unit">
  <h1 class="demo-logo">
    Mentor Program<small>Project-based, short-term mentor sessions for learning & teaching code in byte-sized peices.</small>
  </h1>
</div> <!-- /demo-headline -->
<div class="row" style="text-align: center;">
  <div class="span12">
    <a href="/mentors" class="btn btn-large btn-info span3 offset2">Become a Mentor</a>
    <a href="/mentees" class="btn btn-large btn-info span3">Find a Mentor</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    <br>
    <p class="lead"> This mentor program is an experiment in using short-term & project-based mentoring to make each session as focused & productive as possible. You can sign up to mentor or be mentored for three sessions, after that, you can sign up again, or take a break and come back when you can.</p>
    <p class="lead">Check out the session outlines & project ideas to help guide mentors & mentees to get the most out of each session on the Project & Session Prep page. Or get the at-a-glance <strong><a hreff=" ">Mentor Session Guidelines & Cheatsheet</a></strong> and jump right in!</p>
    <br>
    <!-- <p class="lead">Life gets busy & it's hard to stay on top of everything. We want to make the most of your time and your busy schedule! That's why this mentor program is set up to be short-term & project-based. You can sign up to mentor or be mentored for three sessions and then your time commitment is done. After that, you can sign up again, or take a break and come back when you have time.</p>
    <p class="lead">There are session outlines & project ideas to help guide mentors & mentees and so everyone gets the most out of each session.
    <strong><a href="#">Mentor Session Guidelines & Cheatsheet</a></strong></p> -->
    <br>
    <br>
  </div>
</div>