<div class="hero-unit">
  <h1 class="demo-logo">
    Become a Mentor<small>Give back to the community by mentoring new coders on byte-sized projects.</small>
  </h1>
  <br>
  <a href="#mentee_search"><div class="btn btn-large btn-success pull-right">Find A Mentee! »</div></a><!-- Header -->
</div><!-- Header -->

<div class="row"><!-- Explanatory text header row -->
  <div class="span12">
    <h1>How it works ..</h1>
    <p class="lead">
      Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi. Try-hard occaecat pug, helvetica cliche polaroid tote bag. Officia pour-over salvia, organic lo-fi mlkshk ut tofu. 8-bit incididunt placeat wayfarers mixtape, literally four loko in forage tousled gluten-free nulla. <strong><a href="https://docs.google.com/document/d/126FhjdvWRoQu7CbwCIz-Yn5TlBU0cYXogB0QQhQLZWo/edit?usp=sharing">Mentor Session Guidelines & Cheatsheet</a></strong><br><a href="/prep" class="btn btn-large btn-info pull-right">Session Prep Help »</a>

    </p>
  </div>
</div><!-- Explanatory text header ROW -->
<hr>

<div class="row" id="mentee_search">
  <div class="span12">
    <h1>Find Your Mentee</h1>
    <p class="lead">Select from the menues below to find people seeking mentors.</p>
  </div><!-- Header row for mentee search table -->
</div><!-- Header row for mentee search table ROW -->

<div class="row">
  <div class="span12">
    <h5>Search by:</h5>
    <select name="herolist" style="display: none;">
      <option value="0">Location</option>
      <option value="1">Inner SE</option>
      <option value="2">Inner NE</option>
      <option value="3">Downtown</option>
      <option value="4">NW & Pearl</option>
      <option value="5">SW</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Day</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Time</option>
      <option value="1">Before 9am</option>
      <option value="2">Any morning time</option>
      <option value="3">Noon</option>
      <option value="4">After 5pm</option>
      <option value="5">Any afternoon time</option>
      <option value="6">Anytime</option>
      <option value="7">Later evenings</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Project Type</option>
      <option value="1">Beginner Ruby</option>
      <option value="2">JavaScript</option>
      <option value="3">?</option>
      <option value="4">?</option>
      <option value="5">?</option>
      <option value="6">?</option>
      <option value="7">?</option>
    </select>
  </div><!-- Mentee List (table) --><!-- Dropdown buttons for Mentee search ROW --> 
</div><!-- Dropdown buttons for Mentee search ROW --> 

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Day(s)</th>
        <th>Time(s)</th>
        <th>Project Type</th>
        <th>Project Description</th>
        <th>Sign Up To Mentor</th>
      </tr>
      <tr>
        <td>Erica</td>
        <td>Inner SE</td>
        <td>M,W,TH</td>
        <td>After 5pm</td>
        <td>Beginner JS</td>
        <td>I have a bootstrap HTML page that needs JS enabled</td>
        <td>
          <div>
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-mini">Sign Up! »</a>
        </td><!-- Mentor Sign-up modal Button -->
      </tr><!-- Mentee Data -->
      <tr>
        <td>Erica</td>
        <td>Inner SE</td>
        <td>M,W,TH</td>
        <td>After 5pm</td>
        <td>Beginner JS</td>
        <td>I have a bootstrap HTML page that needs JS enabled</td>
        <td>
          <div>
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-mini">Sign Up! »</a>
        </td><!-- Mentor Sign-up modal button-->
      </tr><!-- Mentee Data -->
    </table>
  </div><!-- Mentee List (table) --><!-- Table with Mentee List ROW -->
</div><!-- Table with Mentee List ROW -->

<div class="row"><!-- Modal (shared) --> 
  <div class="modal hide fade" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h3 class="modal-title">We Love Our Mentors!</h3>
         </div>
         <div class="modal-body">
          <p class="lead"><strong>You are about to become a mentor for one very lucky mentee!</strong></p>
          <p class="lead">
            It's so easy! Just enter your name and email and hit "Go". <br>You and your new mentee will immediately receive an email notification so you can connect and schedule your three mentor sessions.<br>
          </p>
           <div class="input-append">
             <input id="mentor_name" type="text" placeholder="Name">
             <input class="span4 form-control" id="mentor_email" type="text" placeholder="email address">
           </div><!-- input-append -->
           <p class="lead"><em><strong>Placeholder Captcha Here</strong></em></p>
           <img src="mentor_program/app/assets/images/placekitten.jpg" class="img-thumbnail">
          <div><!-- modal-body -->
         <div class="modal-footer">
           <a href="#" class="btn">Close</a>
           <a href="#" class="btn btn-primary">Go! »</a>
         </div><!-- Modal-footer -->
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div><!-- Modal (shared) Row -->