<div class="hero-unit">
  <h1 class="demo-logo">
    Become a Mentor<small>Give back to the community by mentoring new coders on byte-sized projects.</small>
  </h1>
  <br>
  <div class="btn btn-large btn-success pull-right">Find A Mentee! »</div>
</div>

<div class="row">
  <div class="span12">
    <h1>How it works ..</h1>
    <p class="lead">
      Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi. Try-hard occaecat pug, helvetica cliche polaroid tote bag. Officia pour-over salvia, organic lo-fi mlkshk ut tofu. 8-bit incididunt placeat wayfarers mixtape, literally four loko in forage tousled gluten-free nulla. <br><strong><a href="#">Mentor Session Guidelines & Cheatsheet</a></strong>
    </p>
    <div class="btn btn-large btn-info">Help Me Prep for a Session »</div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1>Find Your Mentee</h1>
    <p class="lead">Select from the menues below to find people seeking mentors.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h5>Search by:</h5>
    <select name="herolist" style="display: none;">
      <option value="0">Location</option>
      <option value="1">Inner SE</option>
      <option value="2">Inner NE</option>
      <option value="3">Downtown</option>
      <option value="4">NW & Pearl</option>
      <option value="5">SW</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Day</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Time</option>
      <option value="1">Before 9am</option>
      <option value="2">Any morning time</option>
      <option value="3">Noon</option>
      <option value="4">After 5pm</option>
      <option value="5">Any afternoon time</option>
      <option value="6">Anytime</option>
      <option value="7">Later evenings</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Project Type</option>
      <option value="1">Beginner Ruby</option>
      <option value="2">JavaScript</option>
      <option value="3">?</option>
      <option value="4">?</option>
      <option value="5">?</option>
      <option value="6">?</option>
      <option value="7">?</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Day(s)</th>
        <th>Time(s)</th>
        <th>Project Type</th>
        <th>Project Description</th>
      </tr>
      <tr>
        <td>Erica</td>
        <td>Inner SE</td>
        <td>M,W,TH</td>
        <td>After 5pm</td>
        <td>Beginner JS</td>
        <td>I have a bootstrap HTML page that needs JS enabled</td>
      </tr>
      <tr>
        <td colspan="6">
          <h4 class="pull-left">Sign Up To Mentor</h4>
          <div class="input-append">
            <input id="mentor_name" type="text" placeholder="Name">
            <input id="mentor_email" type="text" placeholder="email address">
            <button class="btn" type="button">Go!</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>