<div class="hero-unit">
  <h1 class="demo-logo">Find a Mentor<small>Get help on projects & learn to code in byte-sized steps!</small></h1>
  <br>
  <div class="btn btn-large btn-success span2 offset8">Sign Me Up! »</div>
</div>
<div class="row">
  <div class="span12">
    <h1>How it works ..</h1>
    <p class="lead">Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi. Try-hard occaecat pug, helvetica cliche polaroid tote bag. Officia pour-over salvia, organic lo-fi mlkshk ut tofu. 8-bit incididunt placeat wayfarers mixtape, literally four loko in forage tousled gluten-free nulla. <br><strong><a hreff=" ">Mentor Session Guidelines & Cheatsheet</a></strong></p>
    <div>
      <div class="btn btn-mini btn-info">Help Me Find A Project »</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1>Mentor Request Form</h1>
    <p><span class="lead">Complete the form below to provide information about what you are working on so a mentor can find you.</span></p>
  </div>
</div>

<div class="row">
  <div class="span3">
    <input type="text" id="mentee_name" placeholder="Name" class="span3">
    <input type="text" placeholder="Email" id="mentee_email" class="span3">
    <h4>Preferred Location to meet your mentor</h4>
    <label class="checkbox" for="checkbox1">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="location" id="checkbox1" data-toggle="checkbox">
      Inner SE
    </label>
    <label class="checkbox" for="checkbox2">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="location"  id="checkbox1" data-toggle="checkbox">
      Inner NE
    </label>
    <label class="checkbox" for="checkbox3">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="location"  id="checkbox1" data-toggle="checkbox">
      Downtown
    </label>
    <label class="checkbox" for="checkbox4">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="location"  id="checkbox1" data-toggle="checkbox">
      NW & Pearl
    </label>
    <label class="checkbox" for="checkbox5">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="location"  id="checkbox1" data-toggle="checkbox">
      SW
    </label>
  </div>
  <div class="span3">
    <h4>Preferred Day(s) of the week to meet your mentor</h4>
    <label class="checkbox" for="checkbox1">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="day" id="checkbox1" data-toggle="checkbox">
      Monday
    </label>
    <label class="checkbox" for="checkbox2">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="day" id="checkbox1" data-toggle="checkbox">
      Tuesday
    </label>
    <label class="checkbox" for="checkbox3">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="day" id="checkbox1" data-toggle="checkbox">
      Wednesday
    </label>
    <label class="checkbox" for="checkbox4">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="day" id="checkbox1" data-toggle="checkbox">
      Thursday
    </label>
    <label class="checkbox" for="checkbox5">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="day" id="checkbox1" data-toggle="checkbox">
      Friday
    </label>
    <label class="checkbox" for="checkbox6">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="day" id="checkbox1" data-toggle="checkbox">
      Saturday
    </label>
    <label class="checkbox" for="checkbox7">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="day" id="checkbox1" data-toggle="checkbox">
      Sunday
    </label>
  </div>
  <div class="span4">
    <h4>Preferred Times(s) of day to meet your mentor</h4>
    <label class="checkbox" for="checkbox1">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Anytime
    </label>
    <label class="checkbox" for="checkbox2">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Before 9am
    </label>
    <label class="checkbox" for="checkbox3">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Any morning time
    </label>
    <label class="checkbox" for="checkbox4">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Noon
    </label>
    <label class="checkbox" for="checkbox5">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Any afternoon time
    </label>
    <label class="checkbox" for="checkbox6">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      After 5pm
    </label>
    <label class="checkbox" for="checkbox7">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Later evenings
    </label>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4>Type of project you are working on</h4>
    <label class="checkbox" for="checkbox1">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Beginning Ruby
    </label>
    <label class="checkbox" for="checkbox2">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      Beginning JavaScript
    </label>
    <label class="checkbox" for="checkbox3">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      ?
    </label>
    <label class="checkbox" for="checkbox4">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      ?
    </label>
    <label class="checkbox" for="checkbox5">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      ?
    </label>
    <label class="checkbox" for="checkbox6">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      ?
    </label>
    <label class="checkbox" for="checkbox7">
      <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="time" id="checkbox1" data-toggle="checkbox">
      ?
    </label>
  </div>
  <div class="span8">
    <h4>Please write a 2-3 sentence description of your project so mentors can evaluate whether they can help you.</h4>
    <textarea class="span8" rows="8"></textarea>
  </div>
</div>
<div class="row">
  <div class="offset8 span4 lead">
    <a href="#fakelink" class="btn btn-large btn-block btn-info">Submit Mentor Request Form »</a>
  </div>
</div>