<div class="hero-unit">
  <h1 class="demo-logo">
    Projects & Session Outlines<small>Because mentoring should be fun & easy!</small>
  </h1>
</div>

<div class="row">
  <div class="span12">
    <h3 class="lead"><strong>These project ideas & session outlines are suggestions intended to provide guidance & help you get started. If you have another project idea or session plan, that's awesome! The goal here is to help mentors & mentees get as much out of each session as possible.</strong> We welcome your input & ideas help to make these outlines & project ideas truely awesome! If you have an idea for a new project or session topic (or edits to any existing ones), email it to <a href="mailto:#">mentors@hatsnpants.com</a> and it will get added!</h3>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active lead"><a href="#tab1" data-toggle="tab">Basic Web</a></li>
        <li class="lead"><a href="#tab2" data-toggle="tab">HTML/CSS</a></li>
        <li class="lead"><a href="#tab3" data-toggle="tab">Commandline Github/Heroku</a></li>
        <li class="lead"><a href="#tab4" data-toggle="tab">Logic & Thinking Like a Programmer</a></li>
        <li class="lead"><a href="#tab5" data-toggle="tab">Beginner Ruby</a></li>
        <li class="lead"><a href="#tab6" data-toggle="tab">Beginner JavaScript</a></li>
        <li class="lead"><a href="#tab7" data-toggle="tab">Intermediate Rails</a></li>
        <li class="lead"><a href="#tab8" data-toggle="tab">Intermediate Ruby</a></li>
        <li class="lead"><a href="#tab9" data-toggle="tab">Intermediate JavaScript</a></li>
        <li class="lead"><a href="#tab10" data-toggle="tab">Beginner Rails</a></li>
      </ul>
      <div class="tab-content" class="tab-pane" id="tab1">
        <p class="lead"><strong>Basic Web</strong>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/basic_web_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/basic_web_session_1.pdf">Session Outline 1: Basic Web</a></p>
        <p class="lead"><a src="session_outline/basic_web_session_2.pdf">Session Outline 2: Basic Web</a></p>
        <p class="lead"><a src="session_outline/basic_web_session_3.pdf">Session Outline 3: Basic Web</a></p>
      </div>
      <div class="tab-content" class="tab-pane" id="tab2">
        <p class="lead"><strong>HTML & CSS</strong>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/basic_web_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/html_css_session_1.pdf">Session Outline 1: HTML/CSS</a></p>
        <p class="lead"><a src="session_outline/html_css_session_2.pdf">Session Outline 2: HTML/CSS</a></p>
        <p class="lead"><a src="session_outline/html_css_session_3.pdf">Session Outline 3: HTML/CSS</a></p>
      </div>
      <div class="tab-content" class="tab-pane" id="tab3">
        <p class="lead"><strong>Commandline, Github, & Heroku</strong>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/basic_web_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/commandline_github_heroku_session_1.pdf">Session Outline 1: Commandline, Github, & Heroku</a></p>
        <p class="lead"><a src="session_outline/commandline_github_heroku_session_2.pdf">Session Outline 2: Commandline, Github, & Heroku</a></p>
        <p class="lead"><a src="session_outline/commandline_github_heroku_session_3.pdf">Session Outline 3: Commandline, Github, & Heroku</a></p>
      </div>
      <div class="tab-content" class="tab-pane" id="tab4">
        <p class="lead"><strong>Logic & Thinking Like A Programmer</strong>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_session_1.pdf">Session Outline 1: Logic & Thinking Like A Programmer</a></p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_session_2.pdf">Session Outline 2: Logic & Thinking Like A Programmer</a></p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_session_3.pdf">Session Outline 3: Logic & Thinking Like A Programmer</a></p>
      </div>
      <div class="tab-content" class="tab-pane" id="tab5">
        <p class="lead"><strong>Beginner Ruby</strong>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/beginner_ruby_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/beginner_ruby_session_1.pdf">Session Outline 1: Beginner Ruby</a></p>
        <p class="lead"><a src="session_outline/beginner_ruby_session_2.pdf">Session Outline 2: Beginner Ruby</a></p>
        <p class="lead"><a src="session_outline/beginner_ruby_session_3.pdf">Session Outline 3: Beginner Ruby</a></p>
      </div>
    </div>
  </div>
</div>
</div>