<div class="hero-unit">
  <h1 class="demo-logo">
    Projects & Session Outlines<small>Because mentoring should be fun & easy!</small>
  </h1>
</div><!-- Hero Unit -->

<div class="row span12">
  <h1>How it works ...</h1>
  <p class="lead">Select a topic from the tabs below to find project ideas & session outlines for that topic. you can use these project ideas & session outlines to help you get started & get the most out of each session.</p> 
  <p class="lead">If you have another project idea or session plan, that's awesome! We welcome your input & ideas help improve the program & make everyone's mentor/mentee experience truely great! You can share your ideas for new projects or session topics (or edits to any existing ones) by emailing <a href="mailto:#">mentors@hatsnpants.com</a>.</p>
  </p>
</div><!-- Explanatory text -->

<div class="row">
  <div class="span12">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active lead"><a href="#tab1" data-toggle="tab">Basic Web</a></li>
        <li class="lead"><a href="#tab2" data-toggle="tab">HTML/CSS</a></li>
        <li class="lead"><a href="#tab3" data-toggle="tab">Commandline Github/Heroku</a></li>
        <li class="lead"><a href="#tab4" data-toggle="tab">Logic & Thinking Like a Programmer</a></li>
        <li class="lead"><a href="#tab5" data-toggle="tab">Beginner Ruby</a></li>
        <li class="lead"><a href="#tab6" data-toggle="tab">Beginner JavaScript</a></li>
        <li class="lead"><a href="#tab7" data-toggle="tab">Intermediate Rails</a></li>
        <li class="lead"><a href="#tab8" data-toggle="tab">Intermediate Ruby</a></li>
        <li class="lead"><a href="#tab9" data-toggle="tab">Intermediate JavaScript</a></li>
        <li class="lead"><a href="#tab10" data-toggle="tab">Beginner Rails</a></li>
      </ul><!-- Tab Content -->
      <div class="tab-content" class="tab-pane" id="tab1">
        <h3><strong>Basic Web</strong></h3><p class="lead">Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/basic_web_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/basic_web_session_1.pdf">Session Outline 1: Basic Web</a></p>
        <p class="lead"><a src="session_outline/basic_web_session_2.pdf">Session Outline 2: Basic Web</a></p>
        <p class="lead"><a src="session_outline/basic_web_session_3.pdf">Session Outline 3: Basic Web</a></p>
      </div><!-- Tab Pane 1 -->
      <div class="tab-content" class="tab-pane" id="tab2">
        <h3><strong>HTML & CSS</strong></h3><p class="lead">Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/basic_web_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/html_css_session_1.pdf">Session Outline 1: HTML/CSS</a></p>
        <p class="lead"><a src="session_outline/html_css_session_2.pdf">Session Outline 2: HTML/CSS</a></p>
        <p class="lead"><a src="session_outline/html_css_session_3.pdf">Session Outline 3: HTML/CSS</a></p>
      </div><!-- Tab Pane 2 -->
      <div class="tab-content" class="tab-pane" id="tab3">
        <h3><strong>Commandline, Github, & Heroku</strong></h3><p class="lead">Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/basic_web_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/commandline_github_heroku_session_1.pdf">Session Outline 1: Commandline, Github, & Heroku</a></p>
        <p class="lead"><a src="session_outline/commandline_github_heroku_session_2.pdf">Session Outline 2: Commandline, Github, & Heroku</a></p>
        <p class="lead"><a src="session_outline/commandline_github_heroku_session_3.pdf">Session Outline 3: Commandline, Github, & Heroku</a></p>
      </div><!-- Tab Pane 3 -->
      <div class="tab-content" class="tab-pane" id="tab4">
        <h3><strong>Logic & Thinking Like A Programmer</strong></h3><p class="lead">Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_session_1.pdf">Session Outline 1: Logic & Thinking Like A Programmer</a></p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_session_2.pdf">Session Outline 2: Logic & Thinking Like A Programmer</a></p>
        <p class="lead"><a src="session_outline/logic_&_thinking_like_a_programmer_session_3.pdf">Session Outline 3: Logic & Thinking Like A Programmer</a></p>
      </div><!-- Tab Pane 4 -->
      <div class="tab-content" class="tab-pane" id="tab5">
        <h3><strong>Beginner Ruby</strong></h3><p class="lead">Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
        <p class="lead"><a src="session_outline/beginner_ruby_project_ideas.pdf">Project Ideas</a></p>
        <p class="lead"><a src="session_outline/beginner_ruby_session_1.pdf">Session Outline 1: Beginner Ruby</a></p>
        <p class="lead"><a src="session_outline/beginner_ruby_session_2.pdf">Session Outline 2: Beginner Ruby</a></p>
        <p class="lead"><a src="session_outline/beginner_ruby_session_3.pdf">Session Outline 3: Beginner Ruby</a></p>
      </div><!-- Tab Pane 5 -->
    </div>
  </div>
</div><!-- Tabs for project & session prep (tab content & panes) -->
