<% @title = "Session Prep" %>
<div class="span12"><!-- Header -->
  <h1>Project Sessions &amp; Outlines</h1>
</div><!-- Header -->
<div class="row"><!-- steps to becoming a mentor-->
  <div class="span12">
    <div class="fun-borderline">
      <!-- <h6>How it works ...</h6> -->
      <p class="lead">Select a topic from the tabs below to find project ideas &amp; session outlines for that topic. Use these project ideas &amp; session outlines to help you get started &amp; get the most out of each session.</p> 
      <p class="lead"><small>If you have another project idea or session plan, that's awesome! We welcome your input &amp; ideas help improve the program &amp; make everyone's mentor/mentee experience truely great! You can share your ideas for new projects or session topics (or edits to any existing ones) by emailing <a href="mailto:#">mentors@hatsnpants.com</a>.</small></p>
    </div>
    <hr>
  </div><!-- Explanatory text -->
<div class="row">
  <div class="span12">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active lead"><a class="tab-lable" href="#tab1" data-toggle="tab">Basic Web</a></li>
        <li class="lead"><a class="tab-lable" href="#tab2" data-toggle="tab">HTML/CSS</a></li>
        <li class="lead"><a class="tab-lable" href="#tab3" data-toggle="tab">Commandline Github/Heroku</a></li>
        <li class="lead"><a class="tab-lable" href="#tab4" data-toggle="tab">Logic &amp; Thinking Like a Programmer</a></li>
        <li class="lead"><a class="tab-lable" href="#tab5" data-toggle="tab">Beginner Ruby</a></li>
        <li class="lead"><a class="tab-lable" href="#tab6" data-toggle="tab">Beginner JavaScript</a></li>
        <li class="lead"><a class="tab-lable" href="#tab7" data-toggle="tab">Intermediate Rails</a></li>
        <li class="lead"><a class="tab-lable" href="#tab8" data-toggle="tab">Intermediate Ruby</a></li>
        <li class="lead"><a class="tab-lable" href="#tab9" data-toggle="tab">Intermediate JavaScript</a></li>
        <li class="lead"><a class="tab-lable" href="#tab10" data-toggle="tab">Beginner Rails</a></li>
      </ul>
      <div class="tab-content"><!-- Tab Content -->
        <div class="tab-pane active" id="tab1">
          <h3>Basic Web</h3>
          <div class="lead">
            <p>Try making a simple, static HTML page. You could make a portfolio to tell people all about yourself or a page about anything you like! You can include You Tube videos, images, links, lists, &amp; tables.</p>
            <p>These session materials help you focus on the basic web skills like navigating a text editor, using the Chrome Inspect Element feature, setting up simple dependencies, reading an HTML file, viewing your changes in a browser, and pushing a project to Github.</p>
            <p><strong><a href="https://docs.google.com/document/d/1Ta7p8h1HfjN0sJpHCrWqAQCuD6CHfyIncO5BIZLkAxk/edit?usp=sharing">Project Ideas</a></strong></p>
            <p><strong><a href="https://docs.google.com/document/d/1uFz9gFmrg3HnYzfbQo1YYIyUDlV5u0ECi1SElJta_Uo/edit?usp=sharing">Session Outline: Basic Web</a></strong></p>
          </div>
        </div><!-- Tab Pane 1 -->

        <div class="tab-pane" id="tab2">
          <h3>HTML &amp; CSS</h3>
          <div class="lead">
            <p>Chuck says, "HTML is the bones of the internet. Whether you plan on being a front end developer or a back end developer, this is something everyone should know - or at least be familiar with."</p>
            <p>These session materials help you focus on learning to navigate a style sheet, write clean, beautiful HTML, &amp; run middleman.</p>
            <p><strong><a href="https://docs.google.com/document/d/1meDQE_c4-3wyXASe7tmdNNuzJJ-LWCR1kTavHLBPUUI/edit?usp=sharing">Project Ideas</a></strong></p>
            <p><strong><a href="https://docs.google.com/document/d/1dBExv09MyaC8i8yrC6ZuVd8w_qHja5uYqLBG2lRU_Tw/edit?usp=sharing">Session Outline: HTML/CSS</a></strong></p>
          </div>
        </div><!-- Tab Pane 2 -->
     
        <div class="tab-pane" id="tab3">
          <h3>Commandline, Github, &amp; Heroku</h3>
          <div class="lead">
            <p>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
            <p><strong><a href="#">Project Ideas</a></strong></p>
            <p><strong><a href="#">Session Outline 1: Commandline, Github, &amp; Heroku</a></strong></p>
            <p><strong><a href="#">Session Outline 2: Commandline, Github, &amp; Heroku</a></strong></p>
            <p><strong><a href="#">Session Outline 3: Commandline, Github, &amp; Heroku</a></strong></p>
          </div>
        </div><!-- Tab Pane 3 -->

        <div class="tab-pane" id="tab4">
          <h3>Logic &amp; Thinking Like A Programmer</h3>
          <div class="lead">
            <p>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
            <p><strong><a href="#">Project Ideas</a></strong></p>
            <p><strong><a href="#">Session Outline 1: Logic &amp; Thinking Like A Programmer</a></strong></p>
            <p><strong><a href="#">Session Outline 2: Logic &amp; Thinking Like A Programmer</a></strong></p>
            <p><strong><a href="#">Session Outline 3: Logic &amp; Thinking Like A Programmer</a></strong></p>
          </div> 
        </div><!-- Tab Pane 4 -->

        <div class="tab-pane" id="tab5">
          <h3>Beginner Ruby</h3>
          <div class="lead">
            <p>Here is where you'll find a brief description of this topic. Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi.</p>
            <p><strong><a href="#">Project Ideas</a></p>
            <p><strong><a href="#">Session Outline 1: Beginner Ruby</a></p>
            <p><strong><a href="#">Session Outline 2: Beginner Ruby</a></p>
            <p><strong><a href="#">Session Outline 3: Beginner Ruby</a></p>
          </div>
        </div><!-- Tab Pane 5 -->
      </div><!-- Tab Content -->
    </div><!-- tabbable -->
  </div><!-- Tabs for project &amp; session prep (tab content &amp; panes) -->
</div>
