<div class="hero-unit">
  <h1 class="demo-logo">Resources
    <small>
      Things to help you make the most of your sessions
    </small>
  </h1>
</div>
<p>
  We have put together resources to help guide you get the most of this program:
</p>
<ul>
  <li>
    The <strong><a href="https://docs.google.com/document/d/1AgAqj82sUnD3QzRwLmNBNLPuHqz0jzjWY8Mls9o98Gw/edit?usp=sharing">Mentor Program Guidelines & Code of Conduct</a></strong>
    gives an overview of the program and how to be a good mentor or mentee.
  </li>
</ul>

<p>
  We are working to add more resources to improve your mentoring sessions. If
  there are additional resources you feel others would benefit from, please
  let us know about them by emailing us at:
  <%= mail_to "mentors@hatsnpants.com" %>
</p>

