<div class="row">
  <div  class="span12">
    <table class="table table-striped mentees">
      <tr>
        <th class="span2">Name</th>
        <th class="span2">Project Category</th>
        <th class="span5">Project Description</th>
        <th class="span1">Availability</th>
        <th class="span2">Sign Up To Mentor</th>
      </tr>
      <tr>
      	<td>Erica Lauer Vose</td>
      	<td>HTML, CSS</td>
      	<td>Project Description: Roof party hella shabby chic, Odd Future lomo banjo pour-over. Neutra pitchfork Bushwick brunch, pickled hashtag cornhole fixie. Ethnic umami small batch mumblecore Tonx tofu. Williamsburg scenester shabby chic, occupy High Life you probably haven't heard of them selvage. Flannel Bushwick VHS roof party messenger bag, blog cred cardigan lo-fi beard fingerstache. </td>
      	<td>
      		<a href="#availabilty" role="button" class="btn btn-info" data-toggle="modal">See Availability</a>
      	</td>
      	<td><a href="#" class="btn btn-success btn-large">Go!</a></td>
      </tr>
      <tr>
      	<td>Erica Lauer Vose</td>
      	<td>HTML, CSS</td>
      	<td>Project Description: Roof party hella shabby chic, Odd Future lomo banjo pour-over. Neutra pitchfork Bushwick brunch, pickled hashtag cornhole fixie. Ethnic umami small batch mumblecore Tonx tofu. Williamsburg scenester shabby chic, occupy High Life you probably haven't heard of them selvage. Flannel Bushwick VHS roof party messenger bag, blog cred cardigan lo-fi beard fingerstache. </td>
      </td>
      <td>
      	<a href="#availabilty" role="button" class="btn btn-info" data-toggle="modal">See Availability</a>
      </td>
      <td><a href="#" class="btn btn-success btn-large">Go!</a></td>
      </tr>
    </table>
  </div>
</div>

<div id="availability" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3>Mentee Availability</h3>
  </div>
  <div class="modal-body">
    <p>Location</p>
    	<div class="well well-small">
     		SE, Downtown, The Pearl, NW
    	</div>
    <p>Days & Times</p>
	    <div class="well well-small">
			<p class="lead">
				Mondays: Morning, Evening <br>
				Tuesdays: Morning, Evening <br>
				Wednesdays: Morning, Evening <br>
				Thursdays: Morning, Evening <br>
				Fridays: None <br>
				Saturdays: Any <br>
				Sundays: Any <br>
			</p>
	    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
  </div>
</div>

<div class="row">
	<h1>Mentee Info</h1>
	<div class="well span12">
		<div class="span5">
			<p><strong>Mentee Name: </strong>Erica Lauer Vose</p>
	    	<p><strong>Preferred Meeting Locations: </strong></p>
	    	<p class="offset1">SE, Downtown, The Pearl, NW</p>
			<p><strong>Availability by Day: </strong><br>
			<p class="offset1"><strong>Mondays:</strong> Morning, Evening <br>
			<strong>Tuesdays:</strong> Morning, Evening <br>
			<strong>Wednesdays:</strong> Morning, Evening <br>
			<strong>Thursdays:</strong> Morning, Evening <br>
			<strong>Fridays:</strong> None <br>
			<strong>Saturdays:</strong> Any <br>
			<strong>Sundays:</strong> Any <br></p>
		</div>
		<div class="span6">
			<p><strong>Project Category: </strong>HTML, CSS</p>
			<p><strong>Project Description: </strong><br></p>
			<p class="offset1">Roof party hella shabby chic, Odd Future lomo banjo pour-over. Neutra pitchfork Bushwick brunch, pickled hashtag cornhole fixie. Ethnic umami small batch mumblecore Tonx tofu. Williamsburg scenester shabby chic, occupy High Life you probably haven't heard of them selvage. Flannel Bushwick VHS roof party messenger bag, blog cred cardigan lo-fi beard fingerstache.</p>
		</div>
	</div><!-- Well --> 
	<hr>
	<div class="well span12">
		<div class="span5">
			<p><strong>Mentee Name: </strong>Erica Lauer Vose</p>
	    	<p><strong>Preferred Meeting Locations: </strong></p>
	    	<p class="offset1">SE, Downtown, The Pearl, NW</p>
			<p><strong>Availability by Day: </strong><br>
			<p class="offset1"><strong>Mondays:</strong> Morning, Evening <br>
			<strong>Tuesdays:</strong> Morning, Evening <br>
			<strong>Wednesdays:</strong> Morning, Evening <br>
			<strong>Thursdays:</strong> Morning, Evening <br>
			<strong>Fridays:</strong> None <br>
			<strong>Saturdays:</strong> Any <br>
			<strong>Sundays:</strong> Any <br></p>
		</div>
		<div class="span6">
			<p><strong>Project Category: </strong>HTML, CSS</p>
			<p><strong>Project Description: </strong><br></p>
			<p class="offset1">Roof party hella shabby chic, Odd Future lomo banjo pour-over. Neutra pitchfork Bushwick brunch, pickled hashtag cornhole fixie. Ethnic umami small batch mumblecore Tonx tofu. Williamsburg scenester shabby chic, occupy High Life you probably haven't heard of them selvage. Flannel Bushwick VHS roof party messenger bag, blog cred cardigan lo-fi beard fingerstache.</p>
		</div>
	</div><!-- Well --> 
</div>



