<div class="row span12">
  <h1 id="thank_you">Thank you for becoming a pairing partner</h1>
  <p class="lead">
    You should receive an email introducing you to your new paring partner
    shortly.
  </p>
</div>
