<div class="row span12">
  <h2>Your request for a pair has been received</h2>
  <p class="lead">
    When your request is answered, we will send you an email to get you in
    contact with your pairing buddy.
  </p>
</div>
