<div class="row span12">
  <h2>Thank You! Your request for a mentor has been received!</h2>
  <p class="lead">
    <strong>You should see your mentor request in the list on the 
    <a href="/mentors">mentor page.</a></strong> If for some reason, it does not    appear there, you can email us at <%= mail_to "mentors@hatsnpants.com" %>
    and we will make sure it gets posted.
  </p>
  <h3>Prepare for Your Mentoring Sessions:</h3>
  <p class="lead">While you wait for a mentor to sign up to help you, it is important for you to keep working on your project. Remember, the more work you put into this, the more you will get out of it, and the more helpful your mentor can be.</p> 
  <p class="lead">If you need help crafting the perfect project, you can use the <strong><a href="https://docs.google.com/document/d/1-MLCBN6_dhzibhfhE5XI_OETqEmi_MJ9BY27X8MuhDI/edit?usp=sharing">Project Planning Guide</a></strong> to shape and focus an idea of you have or you can use the suggested projects on the <strong><a href="/prep">Projects & Session Prep</a></strong> page.</p>
</div>
