<div class="row span12">
  <h3>Thank You, your request for a mentor has been received!</h3>
  <p class="lead"><strong>You should see your mentor request in the list on the <a href="/mentors">mentor page.</a></strong></p>
  <p class="lead">If for some reason, it doesn't appear there, you can email us at <a href="mailto:#">mentors@hatsnpants.com</a> and we will make sure it gets posted.</p>
  <p class="lead">The next step is for a mentor to sign up to help you. Once this happens, you will receive an email notifying you of your new mentor with his or her name and email address. In the meantime, we encourage you to keep working on your project to make sure you have something really clear and specific for your mentor to help you with.</p>
  <p class="lead">Be sure to take a look at the <a href="https://docs.google.com/document/d/126FhjdvWRoQu7CbwCIz-Yn5TlBU0cYXogB0QQhQLZWo/edit?usp=sharing">Mentor Session Guidelines & Cheatsheet</a> to help you prepare.</p>
</div>