<div class="row span12">
  <h1>Thank You For Being A Mentor!</h1>
  <p class="lead"><strong>You are making an important contribution to the community!</strong></p>
  <p class="lead">Check your email to make sure you've received your notification. If you don't see the email, check your spam filters and then contact 
<%= mail_to "mentors@hatsnpants.com" %> to get your mentee's contact info.</p>
  <p class="lead">We encourage you to contact your mentee right away to schedule your mentor sessions. It's also a good idea to schedule all three (one per week) right up front.</p>
  <h2>Prepare for Your Mentoring Sessions:</h2>
    <p class="lead">Please be sure to thoroughly read through the <strong><a href="https://docs.google.com/document/d/1AgAqj82sUnD3QzRwLmNBNLPuHqz0jzjWY8Mls9o98Gw/edit?usp=sharing">Mentor Program Guidelines & Code of Conduct</a></strong> before you begin a round of sessions. Check out the <strong><a href="/prep">session outlines & project ideas</a> </strong>to give you guidance about how to prepare for and conduct a mentoring session so you can give the very best help to your mentee and make sure you both get the most out of each session.</p>
</div>
