<div class="row span12">
  <h3>Thank You For Being A Mentor!</h3>
  <p class="lead"><strong>You are making an important contribution to the community!</strong></p>
  <p class="lead">Check your email to make sure you've received your notification. If you don't see the email, check your spam filters & then contact <a href="mailto:#">mentors@hatsnpants.com</a> to get your mentee's contact info.</p>
  <p class="lead">We encourage you to contact your mentee right away to schedule your mentor sessions. It's also a good idea to schedule all three (one per week) right up front.</p>
  <p class="lead">Be sure to take a look at the <a href="https://docs.google.com/document/d/126FhjdvWRoQu7CbwCIz-Yn5TlBU0cYXogB0QQhQLZWo/edit?usp=sharing">Mentor Session Guidelines & Cheatsheet</a> to help you prepare.</p>
</div>