<table class="category">
  <thead>
    <tr>
      <th>Name</th>
      <th>Official</th>
      <th>Requests</th>
      <th>Answered Requests</th>
    </tr>
  </thead>
  <%= render 'category' %>
</table>
