<h1>Location Statistics</h1>
<% @locations.each do |location| %>
  <h2><%= location.name %></h2>
  <div id=<%= "location_#{location.id}" %>>
    <p class="avg_response_time" >
      Average response time: <%= location.average_response_time %> days
    </p>
  </div>
<% end %> 
